* {
  outline: none;
}
 #inputfunc{
   
  
  font-size: 24px;
  
    padding:0.3em 0em;
    
    
}
.funcnot{
  font-family: 'Artifika';
  font-size: 16px;
}

#plot-container{
  display: flex;
  justify-content: center;
  align-items: center;

    position: absolute;
    top: 75%;

}


#workspace{
  background-color:#fdfcfc;
  padding-bottom: 0;
  transition: all 100ms;
}
#navbarmain{
  background: #fdfcfc;
z-index:99;
 /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/

}

#plotarea{
  margin:0 0 0 2em;

}

.butn{
  background: #06f;
  border:none;
  border-radius:10px;
  font-size:14px;
  font-family: Inter,sans-serif;
  color:white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
.butn:focus{
  outline: none;
}
.butn:hover{
  background: #005ce6;
}
@media screen and (orientation: portrait) {
  #plotarea{
    width:100%;
    margin:0;
  
  }
  #controls{
    height:20%;
  }



}
.dropdown-toggle::after {
            content: none;
        }

.btn-round{
  border-radius: 50%;
  width:30px;
  height: 30px;
  padding:0;
  margin:0.3rem 0.3rem;

}
/*dark mode classes*/


.dark-bg{                           /*to be applied to navbar, controls, workspace, and input fields*/ 
    background-color: #25232D!important;
    color: #fdfcfc;
}
.bg-dark{
  background-color: #26242E!important;
}

.navbar{
  transition: all 100ms;
}

#controls{
  transition: all 100ms;
  margin:0;
 /*border:rgb(82,154,226) 2px solid;*/
  background-color: #fdfcfc;
  z-index: 0;
  border-radius: 10px!important;
  
}
body{
  background-color: #fdfcfc;
  image-rendering: high-quality;
  transition: all 100ms;
}